@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --zen-primary-color: #7aa2f7 !important;
  --zen-main-browser-background: #24283b !important;
  --zen-main-browser-background-toolbar: #24283b !important;
  --zen-colors-primary: #24283b !important;
  --zen-colors-secondary: #292e42 !important;
  --zen-colors-tertiary: #1f2335 !important;
  --zen-colors-border: #7aa2f7 !important;
  --toolbar-bgcolor: #24283b !important;
  --toolbar-color: #c0caf5 !important;
  --toolbarbutton-icon-fill: #7aa2f7 !important;
}

#main-window,
#zen-main-app-wrapper,
#navigator-toolbox,
#titlebar,
#TabsToolbar,
#nav-bar,
#zen-appcontent-navbar-container,
#zen-sidebar-top-buttons,
#zen-sidebar-foot-buttons,
#zen-workspaces-button,
#zen-tabs-wrapper {
  background-color: #24283b !important;
  color: #c0caf5 !important;
}

#zen-browser-background,
#zen-toolbar-background,
.zen-browser-generic-background {
  outline: 1px solid #7aa2f7 !important;
  background: #24283b !important;
}

#zen-browser-background::before,
#zen-browser-background::after,
#zen-toolbar-background::before,
#zen-toolbar-background::after {
  background: #24283b !important;
  background-image: none !important;
  opacity: 1 !important;
}

#urlbar,
#urlbar-background,
.urlbar-background {
  border: 1px solid #7aa2f7 !important;
  background-color: #1f2335 !important;
  color: #c0caf5 !important;
}
